// colors

$color_mid_blue: #75CADE;
$color_cadet_blue: #5599AB;
$color_dodger_blue: #18A0F6;
$color_yankees_blue: #192D3E;
$color_jasper_red: #DA394E;

//Font-size

$h1: 26px;
$h2: 24px;
$h3: 22px;
$h4: 20px;
$p1: 18px;
$p2: 16px;
$p3: 14px;
$p4: 12px;

//Fonts

$font_raleway: 'Raleway', sans-serif;
$font_muli: 'Muli', sans-serif;
$font_nunito: 'Nunito Sans', sans-serif;
