@import 'base';
@import 'reset';

body {
    background-color: lighten($color_mid_blue, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 26px;
    text-transform: capitalize;
    color: $color_jasper_red;
}

button:focus, select:focus, textarea:focus, input:focus {
    outline: none;
}

@import './components/select.scss';
