@import 'base';
@import 'reset';

body {

}

h1, h2, h3 {
    font-family: $font_raleway;
    // line-height: 1.5;
}

h1 {
    font-size: 26px;
    text-transform: capitalize;
    color: $color_jasper_red;
    font-family: $font_nunito;
    font-weight: 700;
    span {
        font-weight: 200;
    }
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

p {
    font-family: $font_raleway;
    line-height: 1.5;
}

button:focus, select:focus, textarea:focus, input:focus {
    outline: none;
}

button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $p3;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    padding: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    outline: none;
    border: 1px solid $color_yankees_blue;
    color: $color_yankees_blue;
    &.submit {
        border-radius: 20px;
        border: 2px solid $color_dodger_blue;
        color: $color_dodger_blue;
        &:hover {
            background-color: lighten(rgba($color_cadet_blue, 0.2), 10);
        }
    }
}

.inner-window {
    padding: 30px;
    margin: 30px;
    background-color: rgba($color_cadet_blue, 0.5);
}

//components
@import './components/elements.scss';
@import './components/daily-ac-form.scss';

//pages
@import './home.scss';
@import './duration/duration.scss';
