.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1111;
    background-color: rgba($color_dodger_blue, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-in-out;

    &.active {
        opacity: 1;
    }
}
