@import "../base";

.select {
    border: 0;
    margin: 10px 0;

    input {
        width: 100%;
        height: 23px;
        border: 0;
        border-radius: 5px;
        font-size: $p3;
        padding: 5px;
    }

    ul.options {
        width: 106%;
        li.option {
            opacity: 0;
            transform: translateY(-10px);
            background-color: #FFF;
            padding: 5px;
            height: 22px;
            font-size: $p3;
            border-bottom: 1px solid #EEE;
            cursor: pointer;
            transition: 0.2s ease;
            pointer-events: none;
            &:hover {
                background-color: lighten(rgba($color_cadet_blue, 0.5), 10);
            }
            &.active {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }
        }
    }
}
